.colorgraph {
  height: 5px;
  border-top: 0;
  background: #222;
  border-radius: 5px;
}

h1 {
    color: white;
    font-size: 60px;
    text-align: center;
}

p {
    color: white;
    font-size: 26px;
    text-align: center;
}